@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* paleta de cores do projeto rich black: #001A23 blck: #000000 
dark cyan: #368F8B champagne: #F3DFC1 jasper: #CE5B3B */
body { 
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F3DFC1
}

.titulo-destaque {
        color: #CE5B3B;
        background-color: #001A23;
    }
.apresentacao {
        margin: 10% 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
.conteudo__apresentacao {
        width: 615px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
.titulo__conteudo__apresentacao {
        font-family: "Krona One", sans-serif   ;
        font-size: 2.25rem;
}

.texto__conteudo__apresentacao {
        font-family:"Montserrat", sans-serif;
        font-size: 1.5rem; 
}

.links__apresentacao {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
}

.links__links__apresentacao {
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        /* background-color: #001A23; */
        width: 381px;
        color: #F3DFC1;
        border-radius: 16.822px;
        border: 2px solid #368F8B;
        padding: 16px 0;
        text-decoration: none;
}

.apresentacao__links {
        font-family: "Krona One", sans-serif;
        font-size: 1.75rem;
        text-align: center;
}

.links__titulo__apresentacao {
        font-family: "krona one", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
}

.foto__apresentacao {
        width: 400px;
        
    }