* {
    margin: 0;
    padding: 0;
}

/* paleta de cores rich black: #001A23 blck: #000000 
dark cyan: #368F8B champagne: #F3DFC1 jasper: #CE5B3B */
body { 
    height: 100vh;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #F3DFC1
}

a { font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #368F8B;
    color: #F3DFC1;

    border: 1px solid #368F8B;
    border-radius: 20px;
        padding: 10px;
}
.titulo-destaque {
        color: #CE5B3B;
    background-color: #001A23;
    }
    .apresentacao {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }