@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F3DFC1;
    --cor-terciaria: #001A23;
    --cor-destaque: #CE5B3B;
    --cor-destaque-2: #368F8B;
    --cor-hover: #272727;

    --fonte-primaria: "krona one", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

body { 
    
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria)
}

.cabecalho {
        padding: 2% 0 0 12%; 
}

.cabecalho__menu {
        display: flex;
        align-items: center;
        gap: 50px;
}

.cabecalho__menu__link {
        font-family: var(--fonte-secundaria);
        font-size: 24px;
        font-weight: 600;
        color: var(--cor-destaque-2);
        text-decoration: none;
}

.cabecalho__menu__link:hover {
        color: var(--cor-destaque);
        transition: 0.3s;
        text-decoration: none;
}

.apresentacao {
        padding: 10% 12%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 50px;
        width: 80vw;
    }

.titulo-destaque {
        color: var(--cor-destaque);
        background-color: var(--cor-terciaria);
}

.conteudo__apresentacao {
        width: 615px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
.titulo__conteudo__apresentacao {
        font-family: var(--fonte-primaria);
        font-size: 2.25rem;
}

.texto__conteudo__apresentacao {
        font-family: var(--fonte-secundaria);
        font-size: 1.5rem; 
        text-align: justify;
        text-indent: 30px;
       
}

.foto__apresentacao {
        width: 400px;

        }

.links__apresentacao {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
}

.links__links__apresentacao {
        font-family: var(--fonte-secundaria);
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        width: 381px;
        display: flex;
        justify-content: center;
        gap: 16px;
        color: var(--cor-secundaria);
        border-radius: 16.822px;
        border: 2px solid var(--cor-destaque-2);
        padding: 16px 0;
        text-decoration: none;
}

.links__links__apresentacao:hover {
        background-color: var(--cor-hover);
        color: var(--cor-destaque-2);
        transition: 0.3s;
        text-decoration: none;
}
.links__links__apresentacao:focus {
        background-color: var(--cor-hover);
        color: var(--cor-destaque-2);
        transition: 0.3s;
        text-decoration: none;
}

.apresentacao__links {
        font-family: var(--fonte-primaria);
        font-size: 1.75rem;
        text-align: center;
}

.links__titulo__apresentacao {
        font-family: var(--fonte-primaria);
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
}

.rodape {
        background-color: var(--cor-terciaria);
        color:#F3DFC1;
        text-align: center;
        font-family: var(--fonte-secundaria);
        font-weight: 400;
        font-size: 0.75rem;
        padding: 24px 0;
        width: 100%;
        position:relative
        bottom: 0;
}
/* Estilos sobre mim */
.texto__sobre__mim {
        text-indent: 30px;
}


/* Estilos curriculo */
.curriculo {
        padding: 10% 15%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 50px;
    }
.curriculo__corpo {
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
.curriculo__titulo {
        font-family: var(--fonte-primaria);
        font-size: 2.25rem;
} 

.texto__curriculo__perfil p {
        font-family: var(--fonte-secundaria);
        font-size: 1.5rem; 
        margin-bottom: 20px; 
        text-align: justify;
    }

.lista__curriculo__perfil {
    list-style-type:none;
    padding-left: 0;
    margin: 28px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem; margin-bottom: 20px;
    text-align: justify;
    display: flex;
        flex-direction: column;
        gap: 20px;
}

ul li::before {
    content: "• "; 
    color: var(--cor-destaque);
    font-weight: bold;
}

.texto__curriculo__perfil strong {
        color: var(--cor-destaque); 
    }